* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    color: black;
    text-align: center;
    font-family: 'Courier';
}

#cabecera {
    -webkit-box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    -moz-box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: 1rem;
}

#cabecera #tagline {
    padding: 0 0 0 2rem;
    font-weight: normal;
    font-size: 1.9rem;
}
#container {
    color: orange;
    background-color: black;
    -webkit-box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    -moz-box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    box-shadow: 3px -4px 25px 28px rgba(0,0,0,1);
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}

#container h1 {
    font-size: 4rem;
}

#post {
    padding: 2rem;
}